# Artifacts of IntelliJ
.idea/workspace.xml
build
doc/scaladoc

# Temporary directories created by Sprocket.
Sprocket-Out
Sprocket-Tmp

# Files generated when compiling papers.
*.aux
main.bbl
main.blg
main.log
main.dvi
main.ps
main.pdf
